@import '../../../colors';

.statistics {
    padding: 20px;
    border-radius: 10px;

    h1 {
        color: $primary;
        font-weight: 600;
        letter-spacing: 5px;
        text-transform: uppercase;
        border-bottom: 2px solid $primary;
        width: max-content;
        margin: auto;
    }

    &-container {
        background: #fff;
        box-shadow: 3px 3px 5px -2px #ddd;
        padding: 10px;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        margin: 20px 0px;

        &:hover {
            transform: translateY(-5px);
            background-color: #fafafa;
        }

        h4 {
            color: $primary;
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: 600;
            svg {
                margin-right: 5px;
                font-size: inherit;
            }
        }

        &_inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: #eee;
            width: max-content;
            margin: 5px;
            border-radius: 5px;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: #e8e8e8;
            }

            h6 {
                font-size: 18px;
                display: inline-block;
                color: #333;
                &:first-of-type {
                    font-weight: 600;
                }
            }
        }
    }
}
